#footer {
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #131313;
	color: #fff;
	font-size: 1.5rem;
	margin-top: 6rem;
	font-family: 'Montserrat', sans-serif;

	.brand {
		display: flex;
		align-items: center;
		font-family: 'Montserrat Alternates', sans-serif;
		margin-right: 1rem;
		font-weight: 900;
		letter-spacing: 0.5rem;

		img.brand-image {
			width: 50px;
			margin-right: 1rem;
		}
	}
}
